.domain{
  padding:  0px 10px 2px 10px;
  background-color: rgb(255, 208, 0);
  border-radius: 15px;
}

.btn-detail{
  margin-top: 20px;
  color: #fff;
  background-color:  rgb(42, 97, 133);

  border-color: rgb(255, 208, 0);
  border-width: 2px;
  border-radius: 35px;


}

.search-bar{
  margin-top: 10px;
}

.dropdown-gender{
  margin-top: 10px;
  // margin-bottom: 10px;
}
