<div class="container">

  <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>

  <!-- <div class="alert alert-warning" role="warning">
    <p>Form Status: {{ campaignForm.campaign }}</p>
  </div> -->

  <h1 *ngIf="isAdd">Maak een nieuwe campagne</h1>
  <h1 *ngIf="isEdit">Bewerk deze campagne</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="campaignForm">

    <div class="form-group d-none">
      <label for="employee">Employee</label>
      <input type="text" class="form-control" id="employee" name="employee" placeholder="employee" formControlName="employee" minlength="2" >
    </div>
    <div class="form-group d-none">
      <label for="employee">ID</label>
      <input type="text" class="form-control" id="campaignId" name="campaignId" placeholder="campaignId" formControlName="campaignId" minlength="2" value="campaignId" >
    </div>

    <div class="form-group">
      <label for="name">Naam</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" minlength="2" >
    </div>

    <div class="form-group">
      <label for="description">Beschrijving</label>
      <input type="text" formControlName="description" id="description" class="mr-2 form-control" >

    </div>

    <div class="form-group">
      <label for="fotoUrl">FotoUrl</label>
      <input type="text" formControlName="fotoUrl" id="fotoUrl" class="mr-2 form-control"  >
    </div>

    <div class="form-group">
      <label for="startDate">Startdatum</label>
      <input type="date" formControlName="startDate" id="startDate" class="mr-2 form-control" min="2022-01-01"  >

    </div>

    <div class="form-group">
      <label for="endDate">Einddatum</label>
      <input type="date" formControlName="endDate" id="endDate" class="mr-2 form-control" min="2022-01-01"  >

    </div>

    <div class="form-group">
      <label for="locationId">Locatie</label>
      <select  class="custom-select" formControlName="locationId" id="locationId" name="locationId" >
        <option selected *ngFor="let location of locations" [ngValue]="location.locationId">{{location.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="domainId">Domein</label>
      <select  class="custom-select" formControlName="domainId" id="domainId" name="domainId" >
        <option selected *ngFor="let domain of domainsList" [ngValue]="domain.domainId">{{domain.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="location">Platforms</label>
      <select  class="custom-select" formControlName="platformId" id="platformId" name="platformId">
        <option selected *ngFor="let platform of platformsList" [ngValue]="platform.social_media_platformId">{{platform.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-blue" *ngIf="isAdd" [disabled]="!campaignForm.valid">Add campaign</button>
    <button type="submit" class="btn btn-blue" *ngIf="isEdit" [disabled]="!campaignForm.valid">Save campaign</button>
    &nbsp;
    <a href="/campagnes" class="btn btn-dark">
      <i class="fas fa-backspace"></i>&nbsp;Terug
    </a>
  </form>

</div>
