<div class="container">

  <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>

  <!-- <div class="alert alert-warning" role="warning">
    <p>Form Status: {{ campaignForm.campaign }}</p>
  </div> -->
  <form (ngSubmit)="onSubmit()" [formGroup]="campaignForm">
    <div class="form-group">
      <label for="name">Naam</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" minlength="2">
    </div>

    <div class="form-group">
      <label for="description">Beschrijving</label>
      <input type="text" formControlName="description" id="description" class="mr-2 form-control">

    </div>

    <div class="form-group">
      <label for="fotoUrl">FotoUrl</label>
      <input type="text" formControlName="fotoUrl" id="fotoUrl" class="mr-2 form-control">

    </div>

    <div class="form-group">
      <label for="startDate">Startdatum</label>
      <input type="date" formControlName="startDate" id="startDate" class="mr-2 form-control" min="2022-01-01">

    </div>

    <div class="form-group">
      <label for="endDate">Einddatum</label>
      <input type="date" formControlName="endDate" id="endDate" class="mr-2 form-control" min="2022-01-01">

    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <select  class="custom-select" formControlName="location" id="location" name="location">
        <!-- <option selected value="0">Kies een locatie</option> -->
        <option selected *ngFor="let location of locations" [ngValue]="location">{{location.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="campaignStatus">Campagnestatus</label>
      <input type="text" formControlName="campaignStatus" id="campaignStatus" class="mr-2 form-control">

    </div>

    <div class="form-group">
      <p>Domein</p>
      <div *ngFor="let domain of domainsList">
        <div>
          <input unchecked type="checkbox" formControlName="domains" id="domains" class="mr-2">
          <label for="domains">{{domain.name}}</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="platforms">Platforms</label>
      <input type="text" formControlName="platforms" id="platforms" class="mr-2 form-control">

    </div>

    <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!campaignForm.valid || isSubmitted">Add</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!campaignForm.valid || isSubmitted">Save</button>
  </form>

</div>
