<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<!-- <button type="button" class="btn btn-success addBtn" (click)="add()"><i class="fas fa-plus"></i> Add new status</button> -->
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lc of locations">
    <th scope="row">{{lc.locationId}}</th>
    <td>{{lc.name}}</td>
    <!-- <td><i *ngIf="lc.active" class="fas fa-check"></i><i *ngIf="!lc.active" class="fas fa-times"></i></td> -->
    <td>
      <!-- <button type="button" class="btn btn-success" (click)="edit(st.id)"><i class="fas fa-edit"></i></button>
      <button type="button" class="btn btn-danger" (click)="delete(st.id)"><i class="far fa-trash-alt"></i></button> -->
      geen actions
    </td>
  </tr>
  </tbody>
</table>

