<div class="nav-body">
  <div class="container">
    <div class="nav">
        <ul>
            <li class="list" *ngIf="authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <b></b>
                <b></b>
                <a routerLink="/dashboard" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span class="title"> Dashboard</span>
                </a>
            </li>
            <li *ngIf="authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list">
                <b></b>
                <b></b>
                <a routerLink="/influencers" data-toggle="tooltip" data-placement="right" title="Influencers">
                    <span class="icon"><i class="fas fa-mobile"></i></span>
                    <span class="title"> Influencers</span>
                </a>
            </li>
            <li *ngIf="authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list">
                <b></b>
                <b></b>
                <a routerLink="/campagnes" data-toggle="tooltip" data-placement="right" title="Campagnes">
                    <span class="icon"><i class="fas fa-hashtag"></i></span>
                    <span class="title"> Campagnes</span>
                </a>
            </li>
            <li *ngIf="authService.isLoggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list">
                <b></b>
                <b></b>
                <a routerLink="/PersonalUser" data-toggle="tooltip" data-placement="right" title="Gebruikers">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="title"> Users</span>
                </a>
            </li>
            <li class="list" *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <b></b>
                <b></b>
                <a routerLink="/logout" data-toggle="tooltip" data-placement="right" title="Uitloggen">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title"> Logout</span>
                </a>
            </li>
        </ul>
    </div>
  </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
<div>
