<nav>
  <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/influencers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Influencers</a></li>
      <li><a routerLink="/campagnes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Campagnes</a></li>
      <li><a href="#">Vouchers</a></li>
      <li><a routerLink="/gebruikers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Gebruikers</a></li>
  </ul>
</nav>
