.domain{
  padding:  0px 10px 2px 10px;
  background-color: rgb(255, 208, 0);
  border-radius: 15px;
}

.paspoort{
  background-color: rgb(32, 192, 125);
  padding: 30px;

  // border-radius: 30px;
  margin-top: 20px;

  border-color: rgb(42, 133, 95);
  border-width: 5px;
  border-style: dashed;
  border-radius: 35px;
}

.card-post {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.card-voucher {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  margin-right: 10px;
}

// .card-right{
//   margin-right: 250px;
// }

.btn-primary{
  margin-top: 20px;

  background-color:  rgb(42, 133, 95);

  border-color: rgb(255, 208, 0);
  border-width: 2px;
  border-radius: 35px;


}
