<div class="container">

  <h1>Login</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<form (ngSubmit)="onSubmit()" #authForm="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" name="username" id="username" class="form-control" [(ngModel)]="user.username" required username>
  </div>
  <div class="form-group mb-4">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" minlength="4" [(ngModel)]="user.password" required="">
  </div>
  <input name="login" id="login" class="btn btn-block btn-primary mb-4" type="submit" value="Login" [disabled]="!authForm.form.valid">
</form>
</div>
