<div class="body">
  <div class="container-fluid">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <form (ngSubmit)="onSubmit()" #authForm="ngForm">
      <img class="" src="/assets/images/ci-logo-nobg.png" alt="CI logo">
      <h1 class="text-blue p-3 pt-0">City Influencers</h1>
      <div class="form-group">
        <label class="text-secondary" for="username">Username</label>
        <input type="username" name="username" id="username" class="form-control" [(ngModel)]="user.username" required username>
      </div>
      <div class="form-group mb-4">
        <label class="text-secondary" for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" minlength="4" [(ngModel)]="user.password" required="">
      </div>
      <input name="login" id="login" class="btn btn-blue" type="submit" value="Login" [disabled]="!authForm.form.valid">
    </form>
  </div>
</div>
