h4{
  font-weight: bold;
  margin-left: 15px;
}

.card{
  width: 150px;
  border: 1px 1px 1px 1px rgb(228, 227, 227);
  box-shadow: 10px 10px 10px rgb(228, 227, 227);

  border-radius: 10px;
}

p{
  margin-left: 15px;
  color: #34b6c6;
}
