<link rel="stylesheet" href="./dashboard.component.scss">
<div class="row dashboard-navigation">
  <div class="col-sm-12 col-md-6 col-lg-3">
    <button class="btn btn-6558f5 w-100" href="">Home</button>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <button class="btn btn-6558f5 w-100">Influencers</button>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <button class="btn btn-6558f5 w-100" href="">Campagnes</button>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <button class="btn btn-6558f5 w-100" href="">Gebruikers</button>
  </div>
</div>

<div class="container-fluid">

  <div class="flex-parent">
    <!-- <div class="flex-child">
      <h3 class="h3 p-4 text-center">Post statuses</h3>
      <canvas baseChart
        [data]="PostStatusesData"
        [type]="PostStatusesType"
        [options]="PostStatusesOptions">
      </canvas>
    </div>

    <div class="flex-child">
      <h3 class="p-4 h3 text-center w-100">User distribution</h3>
      <canvas baseChart
        [data]="UserDistributionData"
        [type]="UserDistributionType"
        [options]="UserDistributionOptions"
        [legend]="UserDistributionLegend">
      </canvas>
    </div> -->


    <div class="flex-child">
      <h3 class="h3 p-4 text-center w-100">Locations</h3>
      <!-- make a bootstrap card containing a h3 without a header -->
        <div class="card">
          <div class="card-body scrollable">
            <h3 class="h3">#Locations: {{this.lengthLocations$}}</h3>
            <ul>
              <li *ngFor="let listItem of locations$| async">
                {{ listItem.name }}
              </li>
            </ul>
          </div>
        </div>
    </div>

    <div class="flex-child">
      <h3 class="h3 p-4 text-center w-100">Social Media platforms</h3>
      <!-- make a bootstrap card containing a h3 without a header -->
        <div class="card">
          <div class="card-body scrollable">
            <h3 class="h3">#Platforms: {{this.lengthSocialMediaPlatforms$}}</h3>
            <ul>
              <li *ngFor="let listItem of socialMediaPlatforms$| async">
                {{ listItem.name }}
              </li>
            </ul>
          </div>
        </div>
    </div>

    <div class="flex-child">
      <h3 class="h3 p-4 text-center w-100">Domains</h3>
      <!-- make a bootstrap card containing a h3 without a header -->
        <div class="card">
          <div class="card-body scrollable">
            <h3 class="h3">#Domains: {{this.lengthDomains$}}</h3>
            <ul>
              <li *ngFor="let listItem of domains$| async">
                {{ listItem.name }}
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
