<div class="container" onload="myfunction()">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <h1>Een gebruiker toevoegen of wijzigen</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="personaluserForm">
    <div class="form-group" *ngIf="isEdit">
      <label for="userId">ID</label>
      <input readonly class="form-control" type="userId" id="userId" name="userId" placeholder="ID" formControlName="userId">
    </div>

    <div class="form-group">
      <label for="location">Location</label> <br>
      <input readonly type="text" class="form-control" formControlName="locationName" type="locationName" id="locationName" name="locationName">
      <select class="custom-select" formControlName="locationId" id="locationId" name="locationId">
        <option *ngFor="let location of locations" [ngValue]="location">{{location.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" placeholder="email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="firstname">Voornaam</label>
      <input class="form-control" type="text" id="firstname" name="firstname" placeholder="Voornaam" formControlName="firstname">
    </div>

    <div class="form-group">
      <label for="lastname">Achternaam</label>
      <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Achternaam" formControlName="lastname">
    </div>

    <div class="form-group">
      <label for="birthdate">Geboortedatum</label>
      <input class="form-control" type="date" id="birthdate" name="birthdate" placeholder="Geboortedatum" formControlName="birthdate">
    </div>

    <div class="form-group">
      <label for="userName">Gebruikersnaam</label>
      <input class="form-control" type="text" id="userName" name="userName" placeholder="Gebruikersnaam" formControlName="userName">
    </div>

    <div class="form-group">
      <label for="imageCaption">Wachtwoord</label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password" minlength="5">
    </div>

    <button type="submit" class="btn btn-blue" [disabled]="!personaluserForm.valid || isSubmitted" *ngIf="isAdd">Toevoegen</button>
    <button type="submit" class="btn btn-blue" [disabled]="!personaluserForm.valid || isSubmitted" *ngIf="isEdit">
      <i class="fas fa-save"></i>&nbsp;Opslaan
    </button>
    &nbsp;
    <a href="/PersonalUser" class="btn btn-dark">
      <i class="fas fa-backspace"></i>&nbsp;Terug
    </a>
  </form>
</div>
