@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

// $font-family-sans-serif: 'News Cycle', sans-serif;
