//override Bootstrap variables and custom mixins
@import "variables";

//reboot
// @import "reboot";

@import "node_modules/bootstrap/scss/bootstrap";

//custom code/partials

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-blue{
  background-color: #34b6c6;
  border: #34b6c6;
  color: #fff;
}

.text-blue{
  color: #34b6c6;
  font-weight: bold;
}
