//override Bootstrap variables and custom mixins
@import "variables";

//reboot
// @import "reboot";

@import "node_modules/bootstrap/scss/bootstrap";

//custom code/partials

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-height: 110vh;
}

.btn-blue{
  background-color: #34b6c6;
  border: #34b6c6;
  color: #fff;
}

.text-blue{
  color: #34b6c6;
  font-weight: bold;
}

pagination-controls  {
  width: 100%;
  display: block;
  margin: auto;
}

h1{
  padding-bottom: 20px;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}
