<!-- container with in it a col-12 and a table with 7 rows -->
<div class="container w-100">
  <div class="row w-100">
    <button type="button" class="btn btn-success" (click)="add()"><i class="fas fa-plus"></i> Nieuwe gebruiker</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Plaats</th>
        <th scope="col">Email</th>
        <th class="d-none" scope="col">Wachtwoord</th>
        <th scope="col">Voornaam</th>
        <th scope="col">Achternaam</th>
        <th scope="col">Gebruikersnaam</th>
        <th scope="col">Geboortedatum</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let pu of personalUsers">
        <td>{{pu.userId}}</td>
        <td>{{pu.location.name}}</td>
        <td>{{pu.email}}</td>
        <td class="d-none">{{pu.password}}</td>
        <td>{{pu.firstName}}</td>
        <td>{{pu.lastName}}</td>
        <td>{{pu.userName}}</td>
        <td>{{pu.birthdate.toString().substr(0,10)}}</td>
        <td><button type="button" (click)="edit(pu.userId)" class="btn btn-warning w-100"><i class="fas fa-edit"></i></button></td>
        <td><button type="button" (click)="delete(pu.userId)" class="btn btn-danger w-100"><i class="far fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
