<!-- container with in it a col-12 and a table with 7 rows -->
<div class="container-fluid">
  <div class="row w-100">
    <table class="table w-100">
      <tr>
        <th scope="col">Gebruikersnummer</th>
        <th scope="col">Plaats</th>
        <th scope="col">Email</th>
        <th scope="col">Wachtwoord</th>
        <th scope="col">Voornaam</th>
        <th scope="col">Achternaam</th>
        <th scope="col">Gebruikersnaam</th>
        <th scope="col">Geboortedatum</th>
      </tr>
      <tr scope="row" *ngFor="let personalUser of personalUsers$ | async;">
        <td>{{personalUser.userId}}</td>
        <td>{{personalUser.location}}</td>
        <td>{{personalUser.email}}</td>
        <td>{{personalUser.password}}</td>
        <td>{{personalUser.firstName}}</td>
        <td>{{personalUser.lastName}}</td>
        <td>{{personalUser.userName}}</td>
        <td>{{personalUser.birthdate.toString().substr(0,10)}}</td>
        <td><a class="btn btn-warning w-100" href="">Wijzigen</a></td>
        <td><a class="btn btn-danger w-100" href="">Verwijderen</a></td>
      </tr>
    </table>
  </div>
</div>
